<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Perfil'}) %>
<body>
	<!-- ID Main container es el que contiene toooooodo -->
	<div class="container-fluid" id="main-container">
		<!-- Header -->
        <%- include('partials/header') %>
      

        <div class="row text-center">

            <div class="col-12">
                <h3>Gracias por tu mensaje!</h3>
            </div>
            
            <div class="col-12">
                <img src="/images/parlante_mensajes.PNG" class="img-fluid" width="400px" alt="">
                    <p>volver al <a href="/" style="text-decoration: underline">inicio</a><p>
            </div>

            
        </div>
   
        <!-- Footer -->
		<%- include('partials/footer') %>
        <!-- ↓↓ aca termina el DIV main container ↓↓ -->
        </div>
</body>
 </html>